<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIS : Authorization</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
        body {
          background-color: #000000;
          font-family: Arial, sans-serif;
          font-size: 18px;
          text-align: center;
        }
        h1 {
          color: #ffffff;
          font-size: 36px;
          margin-top: 150px;
        }
        h3 {
          margin-left: 100px;
          text-align: left;          
          color: white;
          font-size: 56px;
        }
        footer {
          position: fixed;
          bottom: 0px;
          width: 100%;
          background-color: grey;
        }
        
        h2 {
          font-size: 23px; 
          font-family: 'Rock Salt', cursive;
          color: white
        }
        h4 {          
          color: white
        }
        code {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          display: inline-block;
          padding: 5px 10px;
        }
        p{
          font-size: 15px;
          color: white;
        }
      </style>
</head>
<body>
    <h3>>_</h3>    
    <h1>Your authorization code is given below</h1>
    <h4>Paste it on the CIS console</h4>
    <code>
        <%= code %>
    </code>
    <footer>
      <h2>Cloud Integrated Shell</h2>
      <p>&#169; EmKay</p>
    </footer>
    
</body>
</html>